* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: #f0f2f5; /* Fundo neutro suave */
  color: #333;
}

header {
  background-color: #2d4059; /* Tom de azul escuro mais elegante */
  padding: 0.5rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

nav .logo {
  flex-direction: row;
  color: #eaeaea;
  font-size: 1rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 2rem;
}
nav .logo img {
  width: 3rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #eaeaea; /* Cor de texto mais suave */
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

nav ul li a:hover {
  color: #ff6b6b; /* Cor moderna de destaque no hover */
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d4059; /* Fundo mais sofisticado para a hero */
  color: #f0f0f0;
  text-align: center;
}

.hero-content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 30px;
}

.center {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 160px;
  border-left: 6px dashed rgba(255, 255, 255, 0.1);
}
.arrow {
  position: absolute;
  top: 0;
  left: -5.5px;
  height: 40px;
  width: 6px;
  background: #fff;
  animation: animate 2s infinite;
}
.arrow::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 20px;
  height: 20px;
  border-bottom: 6px solid #fff;
  border-right: 6px solid #fff;
  transform: rotate(45deg);
}
@keyframes animate 
{
  0% 
  {
    transform: translateY(0);
    opacity: .5;
  }
  50% 
  {
    transform: translateY(80px);
    opacity: 1;
  }
  100% 
  {
    transform: translateY(160px);
    opacity: 0;
  }
}

.btn {
  padding: 15px 30px;
  background-color: #ff6b6b; /* Botão com cor moderna */
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ff4b4b;
}

.section {
  padding: 80px 20px;
  text-align: center;
  background-color: white;
  margin: 20px auto;
  max-width: 1200px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-overflow: ellipsis;
  padding: 0 2rem 0 2rem;
}
.section img {
  width: 15rem;
  border-radius: 5px 50px 5px 50px;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  font-size: 1.2rem;
  gap: 3rem;
}

.skill {
  padding: 10px 20px;
  background-color: #4ecdc4; /* Cor mais suave e moderna para as skills */
  color: white;
  border-radius: 30px;
  font-weight: bold;
}

/* #region */

.experiencias-container {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card-experiencia {
  background-color: #ffffff;
  color: #555555;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  max-width: 300px;
  padding: 20px;
  text-align: center;
  border: 2px solid #ececec;
}

.card-experiencia img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card-experiencia h3 {
  font-size: 1.5rem;
  color: #2d4059;
  margin-bottom: 10px;
}

.card-experiencia .tempo {
  font-size: 1rem;
  color: #888888;
  margin-bottom: 15px;
}

.card-experiencia .descricao {
  font-size: 1rem;
  line-height: 1.5;
  color: #666666;
}

/* #endregion */

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

footer {
  background-color: #2d4059;
  color: #eaeaea;
  padding: 0.5rem 0.2rem;
  text-align: center;
}

footer .contato {
  margin-bottom: 20px;
}

footer p {
  margin-top: 10px;
  font-size: 14px;
}
